fastapi==0.124.0
uvicorn[standard]==0.38.0
pydantic-settings==2.12.0
SQLAlchemy==2.0.45
psycopg[binary]==3.3.2
PyJWT==2.10.1
pwdlib[argon2]==0.3.0
pytest==8.4.2
httpx==0.28.1
pydantic==2.13.5
python-multipart==0.0.21
langchain-openai==1.1.7
./package/deepdoc_vietocr-0.1.0-py3-none-any.whl
